<div mat-dialog-title class="body">
  <h2>Battle</h2><br>
  <p>Player {{currentPlayerTurn()}}'s' Turn</p>
</div>
<mat-dialog-content class="mat-typography">
  <div class="cardzone">
    <div class="player1">
      <p>
        Mugic
        <br>
        {{attacker.mugic_counter}}
      </p>
    </div>
    <div class="player1">
      <p>
        Attacker
        <br>
        {{attacker.name}}
        <br>
        HP : {{attacker.hp}}
      </p>
      <img class="card-image" [src]="attacker.picture">
      <p>
        @for (stat of object2Array(attacker.stats); track stat) {
        | {{stat.key}} : {{stat.value}} |
        }
      </p>
      <p>
        @for (element of object2Array(attacker.elements); track element) {
        | {{element.key}} : {{element.value ? 'o' : 'x'}} |
        }
      </p>
      @for (ability of object2Array(attacker.abilities); track ability) {
        <button mat-button (click)="useAbility(ability.value, attacker)" [disabled]="attacker.player == currentPlayerTurn() ? false : true">
        {{ability.value}}
        </button>
      } 
    </div>
    <div class="player2">
      <p>
        Defender
        <br>
        {{defender.name}}
        <br>
        HP : {{defender.hp}}
      </p>
      <img class="card-image" [src]="defender.picture">
      <p>
        @for (stat of object2Array(defender.stats); track stat) {
        | {{stat.key}} : {{stat.value}} |
        }
      </p>
      <p>
        @for (element of object2Array(defender.elements); track element) {
        | {{element.key}} : {{element.value ? 'o' : 'x'}} |
        }
      </p>
      @for (ability of object2Array(defender.abilities); track ability) {
        <button mat-button (click)="useAbility(ability.value, defender)" [disabled]="defender.player == currentPlayerTurn() ? false : true">
        {{ability.value}}
        </button>
      } 
    </div>
    <div class="player2">
      <p>
        Mugic
        <br>
        {{defender.mugic_counter}}
      </p>
    </div>
  </div>
</mat-dialog-content>
<mat-dialog-actions align="end" class="actions">
  
</mat-dialog-actions>
