.mat-dialog-content {
    /* Example of avoiding overflow */
    overflow: hidden; /* or remove if unnecessary */
  }

.title {
    text-align: center;
}

.body {
    text-align: center;
   
}

.cardzone {
    text-align: center;
    display: inline-flex;
}

.player1 { //attacker mugic counter
    // display: inline-flex;
    float: left;
    margin-right: 2%;
    margin-left: 2%;
    // margin-top: 25%;
    // background-color: pink;
    
}

.player1:nth-child(2) { //attacker card
    // float: left;
    margin-right: 40%;
    // background-color: blue
    // margin-left: 2%;
    // margin-top: 25%;
}

.player2:nth-child(3) { // defender card
    // display: inline-flex;
    float: right;
    margin-left: 40%;
    margin-right: 2%;
    // background-color: red;
    // margin-top: 25%;
}

.player2:nth-child(4) {
    // display: inline-flex;
    float: right;
    margin-left: 2%;
    margin-right: 2%;
    // background-color: black;
    // margin-top: 25%;
    
}



.card-image {
    width: 150px;
    height: 125px;
    opacity: 100%;
    border-radius: 4px;
  }

.actions {
    text-align: center;
    // display: inline;
}

.hand {
    margin-right: 1%;
    // width: 750px;
    height: 125px;
  }
  
  .hand-list {
    display: flex;
    flex-direction: row;
  }

  .hand-box {
    padding: 2px;
    display: flex;
    flex-direction: row;
    cursor: grab;
  }