<div class="container">
    <div class="player-info">
        <div class="element-list">
            <i class="fa-solid fa-fire" [ngStyle]="{color: creature.Elements['Fire'] ? 'orangered' : 'lightgrey'}"
            [matTooltip]="'Fire'" matTooltipPosition="above"></i>
            <i class="fa-solid fa-wind" [ngStyle]="{color: creature.Elements['Air'] ? 'lightskyblue' : 'lightgrey'}"
            [matTooltip]="'Air'" matTooltipPosition="above"></i>
            <i class="fa-solid fa-mountain" [ngStyle]="{color: creature.Elements['Earth'] ? 'lawngreen' : 'lightgrey'}"
            [matTooltip]="'Earth'" matTooltipPosition="above"></i>
            <i class="fa-solid fa-droplet" [ngStyle]="{color: creature.Elements['Water'] ? 'blueviolet' : 'lightgrey'}"
            [matTooltip]="'Water'" matTooltipPosition="above"></i>
        </div>
        <div class="stat-list">
            <app-bar class="stats" [current]="creature.Stats['Courage']" [max]="100" [icon]="'fa-solid fa-heart'"
            [matTooltip]="'Courage : '+ creature.Stats['Courage']" matTooltipPosition="above"></app-bar>
            <app-bar class="stats" [current]="creature.Stats['Power']" [max]="100" [icon]="'fa-solid fa-bolt'"
            [matTooltip]="'Power : ' + creature.Stats['Power']" matTooltipPosition="above"></app-bar>
            <app-bar class="stats" [current]="creature.Stats['Speed']" [max]="100" [icon]="'fa-solid fa-forward'"
            [matTooltip]="'Speed : ' + creature.Stats['Speed']" matTooltipPosition="above"></app-bar>
            <app-bar class="stats" [current]="creature.Stats['Wisdom']" [max]="100" [icon]="'fa-regular fa-eye'"
            [matTooltip]="'Wisdom : ' + creature.Stats['Wisdom']" matTooltipPosition="above"></app-bar>
        </div>
        <div class="mugic-list">
            @for (mugic of [].constructor(creature.Mugic_Counter); track i; let i = $index) {
                <div class="mugic" [ngStyle]="{'background-color': getTribeColour(creature.Tribe)}"></div>
              }
        </div>
      
    </div>
    <div class="player-creature">
      <img class="card-image" [src]="creature.Picture">
      <p class="header">
        {{creature.Name}}
      </p>
      <app-bar [current]="creature.Energy" [max]="creature.Max_Energy" 
      [matTooltip]="creature.Energy + ' / ' + creature.Max_Energy" matTooltipPosition="above"></app-bar>
      <!-- @for (ability of object2Array(creature.Abilities); track ability.key) {
        <button mat-button 
        (click)="useAbility(ability.value, creature.Player)" 
        [disabled]="!(creature.Player === getCurrentPlayer())">
        {{ability.key}}
        </button>
      }  -->
    </div>
  </div>