.turn-window  {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    text-align: center;
    background-color: #353535;
    border: solid whitesmoke 3px;
    border-radius: 8px;
    color: whitesmoke;

}