<div class="example-boundary container" cdkDropListGroup>
  <div class="left-side" [ngClass]="{
    'active-left-side': getMovingPlayer() === 1 
  }">
    @for (card of game.left.Field; track card) {
      <div 
        cdkDropList
        class="card-background"
        [cdkDropListData]="card"
        (cdkDropListDropped)="drop($event)"
        >
        @for (item of card; track item.Id) {
          <app-card [Picture]="item.Picture"
          [matTooltip]="item.Name" matTooltipPosition="above"></app-card>
        }
      </div>
     }
  </div>
  <div class="right-side" [ngClass]="{
    'active-right-side': getMovingPlayer() === 2
  }">
    @for (card of game.right.Field; track card) {
      <div 
        cdkDropList
        class="card-background"
        [cdkDropListData]="card"
        (cdkDropListDropped)="drop($event)"
        >
        @for (item of card; track item.Id) {
          <app-card [Picture]="item.Picture"
          [matTooltip]="item.Name" matTooltipPosition="above"></app-card>
        }
      </div>
     }
  </div>
</div>
<div class="bottom-row">
    <div class="discard" cdkDropList
      [cdkDropListData]="getDiscardPile()"
    >
    @for (item of getDiscardPile(); track i; let i = $index) {
      <mat-card class="example-box" >
        <img mat-card-image class="card-image" [src]="item.Picture">
      </mat-card>
    }
    </div>

    <div class="recycle" cdkDropList
      [cdkDropListData]="getRecyclePile()"
    >
    @for (item of getRecyclePile(); track i; let i = $index) {
      <mat-card class="example-box">
        <img mat-card-image class="card-image" [src]="item.Picture">
      </mat-card>
    }
    </div>

    <div class="hand hand-list" cdkDropList
    [cdkDropListData]="getHand()"
    cdkDropListOrientation="horizontal"
    (cdkDropListDropped)="arrangeHand($event)"
    >
      @for (card of getHand(); track i; let i = $index) {
        <mat-card class="hand-box" cdkDrag>
          <img mat-card-image class="card-image" [src]="card.Picture"
          [matTooltip]="card.Name" matTooltipPosition="above">
        </mat-card>
      }
    </div>

    <div class="draw" cdkDropList
    [cdkDropListData]="getDrawPile()"
    >
    @for (item of getDrawPile(); track i; let i = $index) {
      <mat-card class="example-box">
        <img mat-card-image class="card-image draw-card" src="./assets/cardBack.png">
      </mat-card>
    }
    </div>
</div>