.container {
  display: flex;
  flex-direction: column;
  gap: 3em;  
}

.board {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 1em;
  margin-top: 1%;
  margin-left: 2%;
}

.field {
  border: solid whitesmoke 3px;
  border-radius: 10px;
  display: flex;
  flex-grow: 1;
}

.left-side, .right-side {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  flex-wrap: wrap;
  flex-grow: 1;
  border-radius: 5px;
}

.left-side {
  flex-wrap: wrap-reverse;
  background-color: #006e6e;
  border-right: solid 3px whitesmoke;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  padding-right: 5px;
}

.active-left-side {
  background-color: rgb(136, 204, 227);
}

.right-side {
  background-color: #9c3030;
  border-left: solid 3px whitesmoke;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  padding-left: 5px;
}

.active-right-side {
  background-color: lightcoral;
}

// .left-cards {
//   box-shadow: 0 0 10px black; /* Light border glow */

// }

// .right-cards {
//   box-shadow: 0 0 10px whitesmoke; /* Light border glow */

// }


.box { 
    align-items: center;
    text-align: center;
    border-radius: 4px;
    margin-right: 25px;
    position: absolute;
    z-index: 1;
    box-sizing: border-box;
    transition: box-shadow 200ms cubic-bezier(0, 0, 0.2, 1);
    box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2),
                0 2px 2px 0 rgba(0, 0, 0, 0.14),
                0 1px 5px 0 rgba(0, 0, 0, 0.12);
  }
  
  .box:active {
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
                0 8px 10px 1px rgba(0, 0, 0, 0.14),
                0 3px 14px 2px rgba(0, 0, 0, 0.12);
  }

  .cdk-drag-animating {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  }

  .card-image {
    width: 150px;
    height: 125px;
    opacity: 100%;
    border: solid 1px #FFFFF0;
    border-radius: 4px;

  }

  .card-background {
    border: solid 1px #ccc;
    height: 125px;
    width: 150px;
    background: gray;
    border-radius: 4px;
  }


  .cdk-drag-preview {
    box-sizing: border-box;
    border-radius: 4px;
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
                0 8px 10px 1px rgba(0, 0, 0, 0.14),
                0 3px 14px 2px rgba(0, 0, 0, 0.12);
  }

  .cdk-drag-placeholder {
    opacity: 0;
  }
  
  .cdk-drag-animating {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  }
  
  .box:last-child {
    border: none;
  }
  
  .list.cdk-drop-list-dragging .box:not(.cdk-drag-placeholder) {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  }


  .bottom-row {
    display: flex;
    flex-direction: row;
    gap: 4em;
    margin-left: 2%;
  }

  .discard {
    width: 150px;
    height: 125px;
    border: solid whitesmoke 3px;  
    background: gray;
    border-radius: 4px;
  }

  .recycle {
    width: 150px;
    height: 125px;
    border: solid whitesmoke 3px;  
    background: gray;
    border-radius: 4px;
  }

  .hand {
    display: flex;
    gap: 1em;
    border: solid whitesmoke 3px;  
    border-radius: 4px;
  }

  .hand-box {
    cursor: grab;
    border-radius: 4px;
  }

  .draw { //make this always lay on right side maybe
    width: 150px;
    height: 125px;
    border: solid whitesmoke 3px;  
    background: gray;
    border-radius: 4px;
    justify-self: end;
  }

  .draw-card {
    background-color: rgb(54, 54, 54);
    // cursor: pointer;
    border-radius: 4px;
    justify-self: end;
  }
