.example-box { //have to change these example names still
    // width: 100px;
    // height: 100px;
    // border: solid 1px #ccc;
    // color: rgba(0, 0, 0, 0.87);
    // cursor: grab;
    // display: inline-flex; // dont think this is needed
    // justify-content: center;
    align-items: center;
    text-align: center;
    // background: #fff;
    border-radius: 4px;
    margin-right: 25px;
    position: absolute;
    z-index: 1;
    box-sizing: border-box;
    // padding: 10px;
    transition: box-shadow 200ms cubic-bezier(0, 0, 0.2, 1);
    box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2),
                0 2px 2px 0 rgba(0, 0, 0, 0.14),
                0 1px 5px 0 rgba(0, 0, 0, 0.12);
  }
  
  .example-box:active {
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
                0 8px 10px 1px rgba(0, 0, 0, 0.14),
                0 3px 14px 2px rgba(0, 0, 0, 0.12);
  }

  .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px; /* Adjust gap as needed */
  }

  
  
  .example-boundary {
    margin-left: 10%;
    margin-top: 0.5%;
    width: 80%;
    height: 75%;
    border: solid #ccc 3px;
    // display: grid;
    // align-self: center;
  }
  
  .cdk-drag-animating {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  }

  .card-image {
    width: 150px;
    height: 125px;
    opacity: 100%;
  }

  .left-side, .right-side {
    // display: flex;
    // flex-direction: column;
    display: grid;
    place-items: center;
    // grid-auto-flow: column;
    // grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
    // gap: 10px; /* Adjust the gap between items */
  }

  .left-side.diamond-shape, .right-side.diamond-shape {
    grid-auto-flow: column;
  }

  // .left-side {
  //   grid-column: 1; /* Left side occupies the first column */
  // }

  // .right-side {
  //   grid-column: 2; /* Right side occupies the second column */
  //   // transform: translateY(-5%);
    
  // }

  // All this needs to be made dynamic

  // .left-side.diamond-shape, .right-side.diamond-shape {
  //   display: grid;
  //   grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
  //   gap: 10px;
  // }
  
  // .left-side.columns-1, .right-side.columns-1 {
  //   grid-template-rows: auto;
  // }
  
  // .left-side.columns-2, .right-side.columns-2 {
  //   grid-template-rows: auto auto;
  // }
  
  // .left-side.columns-3, .right-side.columns-3 {
  //   grid-template-rows: auto auto auto;
  // }
  
  // .left-side.columns-4, .right-side.columns-4 {
  //   grid-template-rows: auto auto auto auto;
  // }

  // .left-side.diamond-shape, .right-side.diamond-shape {
  //   display: grid;
  //   grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
  //   gap: 10px;
  // }

  // /* For 3 images on each side */
  // .left-side .three-images,
  // .right-side .three-images {
  //   grid-template-rows: auto auto auto;
  //   justify-items: center;
  // }

  // /* For 6 images on each side */
  // .left-side .six-images,
  // .right-side .six-images {
  //   grid-template-rows: auto auto auto;
  //   grid-template-columns: repeat(3, 1fr);
  // }

  // /* For 10 images on each side */
  // .left-side .ten-images,
  // .right-side .ten-images {
  //   grid-template-rows: auto auto auto auto;
  //   grid-template-columns: repeat(4, 1fr);
  // }


  .card-background {
    border: solid 1px #ccc;
    height: 125px;
    width: 150px;
    background: gray;
    border-radius: 4px;
  }

  // .example-list-left:nth-child(2) {
  //   border: solid 1px #ccc;
  //   height: 125px;
  //   width: 150px;
  //   background: gray;
  //   border-radius: 4px;
    // opacity: 50%;
    // float: left;
    // margin-top: 1%;
    // margin-left: 20%;
  // }

  // .example-list-left:nth-child(3) {
  //   border: solid 1px #ccc;
  //   height: 125px;
  //   width: 150px;
  //   background: gray;
  //   border-radius: 4px;
  //   // opacity: 50%;
  //   // float: left;
  //   // margin-top: 1%;
  //   // margin-left: 1%;
  // }

  .example-list-right {
    border: solid 1px #ccc;
    height: 125px;
    width: 150px;
    background: gray;
    border-radius: 4px;
    // opacity: 50%;
    // float: right;
    // margin-top: 1%;
    // margin-right: 1%;
    
  }

  .cdk-drag-preview {
    box-sizing: border-box;
    border-radius: 4px;
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
                0 8px 10px 1px rgba(0, 0, 0, 0.14),
                0 3px 14px 2px rgba(0, 0, 0, 0.12);
  }
  
  .cdk-drag-placeholder {
    opacity: 0;
  }
  
  .cdk-drag-animating {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  }
  
  .example-box:last-child {
    border: none;
  }
  
  .example-list.cdk-drop-list-dragging .example-box:not(.cdk-drag-placeholder) {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  }

  .bottom-row {
    margin-left: 5%;
    // bottom: 0;
    margin-top: 2%;
    display: flex
  }

  .discard {
    margin-right: 1%;
    width: 150px;
    height: 125px;
    border: solid #ccc 3px;  
    background: gray;
    border-radius: 4px;
  }

  .recycle {
    margin-right: 1%;
    width: 150px;
    height: 125px;
    border: solid #ccc 3px;  
    background: gray;
    border-radius: 4px;
  }

  .hand {
    margin-right: 1%;
    // width: 750px;
    height: 125px;
    border: solid #ccc 3px;  
    border-radius: 4px;
  }
  
  .hand-list {
    display: flex;
    flex-direction: row;
    
  }

  .hand-box {
    display: flex;
    flex-direction: row;
    cursor: grab;
    margin-right: 5px;
    margin-left: 5px;
    // background-color: black;
  }

  .draw { //make this always lay on right side maybe
    width: 150px;
    height: 125px;
    border: solid #ccc 3px;  
    background: gray;
    border-radius: 4px;
  }

  .draw-card {
    background-color: rgb(54, 54, 54);
    cursor: pointer;
  }