<div class="container">
  <div class="board">
    <div class="field" cdkDropListGroup>
      <div class="left-side" [ngClass]="{
        'active-left-side': isMovingPlayer(board.left.Id) 
      }">
        @for (card of board.left.Field; track card; let i=$index) {
          <div 
            cdkDropList
            class="card-background"
            [cdkDropListData]="card"
            (cdkDropListDropped)="drop($event)"
            cdkDragBoundary=".field"
            >
            @for (leftItem of card; track leftItem.Id) {
              <app-card [Card]="leftItem"
              [Moveable]="isMovingPlayer(board.left.Id) "
              (mouseover)="showFullCard(cardsDisplayed, i, 0)"
              (mouseleave)="hideFullCard(cardsDisplayed, i, 0)">
            </app-card>
              @if (cardsDisplayed[i]) {
                <app-tool-tip [card]="leftItem.Card"></app-tool-tip>
              }
            }
          </div>
         }
      </div>
      <div class="right-side" [ngClass]="{
        'active-right-side': isMovingPlayer(board.right.Id) 
      }">
        @for (card of board.right.Field; track card; let i = $index) {
          <div 
            cdkDropList
            class="card-background"
            [cdkDropListData]="card"
            (cdkDropListDropped)="drop($event)"
            >
            @for (rightItem of card; track rightItem.Id) {
              <app-card [Card]="rightItem"
              [Moveable]="isMovingPlayer(board.right.Id) "
              (mouseover)="showFullCard(cardsDisplayed, i, leftPlayer.Field.length)"
              (mouseleave)="hideFullCard(cardsDisplayed,i, leftPlayer.Field.length)"
              ></app-card>
              @if (cardsDisplayed[i + leftPlayer.Field.length]) {
                <app-tool-tip [card]="rightItem.Card"></app-tool-tip>
              }
            }
          </div>
         }
      </div>
    </div>
    <app-turn-window class="turn-window"></app-turn-window>
  </div>
  <div class="bottom-row">
      <div class="discard" cdkDropList
        [cdkDropListData]="getDiscardPile()"
      >
      @for (item of getDiscardPile(); track i; let i = $index) {
        <mat-card class="box" >
          <img mat-card-image class="card-image" [src]="item.Picture">
        </mat-card>
      }
      </div>
  
      <div class="recycle" cdkDropList
        [cdkDropListData]="getRecyclePile()"
      >
      @for (item of getRecyclePile(); track i; let i = $index) {
        <mat-card class="box">
          <img mat-card-image class="card-image" [src]="item.Picture">
        </mat-card>
      }
      </div>
  
      <div class="hand" cdkDropList
      [cdkDropListData]="getHand()"
      cdkDropListOrientation="horizontal"
      (cdkDropListDropped)="arrangeHand($event)"
      >
        @for (card of getHand(); track i; let i = $index) {
          <mat-card class="hand-box" cdkDrag>
            <img mat-card-image class="card-image" [src]="card.Picture"
              (mouseover)="showFullCard(handDisplayer, i, 0)"
              (mouseleave)="hideFullCard(handDisplayer, i, 0)">
          </mat-card>
          @if (true) {
            <app-tool-tip [card]="card.Card" style=""></app-tool-tip>
          }
        }
      </div>
  
      <div class="draw" cdkDropList
      [cdkDropListData]="getDrawPile()"
      >
      @for (item of getDrawPile(); track i; let i = $index) {
        <mat-card class="box">
          <img mat-card-image class="card-image draw-card" src="./assets/cardBack.png">
        </mat-card>
      }
      </div>
  </div>
</div>
<!-- <ng-template #tooltipTemplate let-Card="imageUrl">
  <div class="tooltip-content">
    <img [src]="Card">
  </div>
</ng-template> -->
<ng-template #tooltipTemplate let-Card="Card">
  <div class="tooltip-content">
    <img [src]="Card">
  </div>
</ng-template>


