<div class="background">
  <mat-dialog-content class="mat-typography">
    <div class="container">
      <div class="header">
        <h4>
          Combat
        </h4>
      </div>
      <div class="card-zone">
        <app-creature-profile [creature]="attacker"></app-creature-profile>
        <app-turn-window></app-turn-window>
        <app-creature-profile class="right" [creature]="defender"></app-creature-profile>
      </div>
    </div>
  <mat-dialog-actions align="center">
    <div class="hand hand-list" cdkDropList
      [cdkDropListData]="hand"
      cdkDropListOrientation="horizontal"
      >
        @for (card of getHand(); track i; let i = $index) {
          <mat-card class="hand-box">
            <img mat-card-image class="card-image" [src]="card.Picture"
            [matTooltip]="card.Name" matTooltipPosition="above"
            (click)="useCard(card, i, 1)"  
            >
          </mat-card>
        }
      </div>
  </mat-dialog-actions> 
</mat-dialog-content>
 
</div>


<!-- 
<mat-dialog-content class="mat-typography">
  
</mat-dialog-content> -->
<!-- <mat-dialog-actions align="center" class="actions">
  <div class="hand hand-list" cdkDropList
    [cdkDropListData]="hand"
    cdkDropListOrientation="horizontal"
    >
      @for (card of getHand(); track i; let i = $index) {
        <mat-card class="hand-box">
          <img mat-card-image class="card-image" [src]="card.Picture"
          [matTooltip]="card.Name" matTooltipPosition="above"
          (click)="useCard(card, i, getCurrentPlayer())"  
          >
        </mat-card>
      }
    </div>
</mat-dialog-actions> -->
